// fonts family
$primaryFont: 'Playfair Display';
$secondaryFont: 'Inter';
$tertiaryFont:'Playfair Display SC';

// colors
$white: #ffffff;
$black: #000000;
$iPrimary: #1B5BBC;
$iPrimary2: #011D70;
$iSecondary: #F96B17;
$iBlack: #232323;
$iBlack2: #353535;
$iGray: #4E4E4E;
$iGray1: #d6d6d6;
$iGray2: #ECF6FF;
$iGray3: #FFF8F8;
$iGray4: #666666;
$iGray5: #707070;


$orange: #F97426;
$blue: #222D39;
$blue2: #061645;
$blue3: #1A58B6;
$blue4: #dde3ff;